@page
@model StudyBuddy.Web.RazorPages.Pages.TeacherPage.TeacherChatModel

@{
    ViewData["Title"] = "TeacherChat";
}

<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 400px; /* Could be more or less, depending on screen size */
        height: 350px;
    }


    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>
    <fieldset>
        <legend>Inbox</legend>
    </fieldset>

    <div style="background-color:bisque">
        <p>Students keep asking same question? </p>
        <a class="nav-link" asp-page="/TeacherPage/Share" asp-route-teacherID="@Model.TeacherID">
            Click here to share the question and your answer with everyone else!
        </a>
    </div>



    <span style="color:red"> @Html.ValidationMessageFor(model => model.ReportError) </span>
    <table class="table table-hover">

        <tbody>
            @foreach (var group in Model.Questions)
            {
                <tr>
                    <td class="table-primary">
                        <strong> @Html.DisplayFor(modelItem => group.Key.Name)</strong>, @Html.DisplayFor(modelItem => group.Key.SubjectTitle)
                    </td>
                    <td class="table-primary">
                        <button id="report" onclick="reportStudent('@group.Key.Name')" class="btn btn-danger">Report Student</button>
                    </td>
                </tr>

                @foreach (var item in group.Questions)
                {
                    <tr>
                        <td class="table-dark">
                            <textarea maxlength="500" readonly rows="3" class="form-control" style="border:dashed 6px #FF7851"> @Html.DisplayFor(modelItem => item.Message)</textarea>
                        </td>

                        @if (item.Status == 0)
                        {
                            <td class="table-dark">
                                <form metohd="post" asp-route-questionID="@item.QuestionID">
                                    <textarea asp-for="Answer" rows="3" class="form-control" style="border:dashed 6px #FF7851;"></textarea>
                                    <br />
                                    <input type="submit" value="send" class="btn btn-outline-success" />
                                </form>
                            </td>
                        }
                        else
                        {
                            <td class="table-dark">
                                <textarea maxlength="500" class="form-control" style="color:#56CC9D;border:dashed 6px #78C2AD" readonly > @Html.DisplayFor(modelItem => item.Answer)</textarea>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="reportModal" class="modal">

        <div class="modal-content">
            <span id="closeButton" class="close">&times;</span>
            <form metohd="post" asp-page-handler="Report">
                <input asp-for="StudentName" id="student-to-report" type="text" hidden />
                <br />
                Why you want to report this student? <br />
                <textarea maxlength="500" class="form-control" style="color:#56CC9D" asp-for="ReportMessage"></textarea>
                <br />
                <input id="submitButton" type="submit" value="Report" class="btn btn-outline-success" />
            </form>
        </div>
    </div>
    <script>
        var reportModal = document.getElementById("reportModal");
        var reportButton = document.getElementById("report");
        var studentToReport = document.getElementById("student-to-report");
        var submitButton = document.getElementById("submitButton");
        var closeButton = document.getElementById("closeButton");


        function reportStudent(studentName) {
            reportModal.style.display = "block";
            studentToReport.value = studentName;
        }

        submitButton.onclick = function () {
            reportModal.style.display = "none";
        }

        closeButton.onclick = function () {
            reportModal.style.display = "none";
        }
    </script>

    @section scripts{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <partial name="_ValidationScriptsPartial" />
        <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    }
