@page "{studentID:int}"
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.InboxModel

@{
    ViewData["Title"] = "Inbox";
    Layout = "_LayoutWithoutNavigation";
}

<h1>Inbox</h1>

<a asp-page="./StudentChat">Go back</a>

<table class="table">

    <tbody>
        @foreach (var group in Model.Questions) {
            <tr>
                <td colspan="3" class="header-row">
                    @Html.DisplayFor(modelItem => group.Key.Name),  @Html.DisplayFor(modelItem => group.Key.SubjectTitle)
                </td>
            </tr>
            @foreach (var item in group.Questions) {
                <tr>
                    <td>
                        <textarea maxlength="500" readonly> @Html.DisplayFor(modelItem => item.Message)</textarea>
                    </td>

                    @if (item.Status == 0)
                    {
                        <td>
                            Not answered yet
                        </td>
                    }
                    else
                    {
                        <td>
                            <textarea maxlength="500" readonly> @Html.DisplayFor(modelItem => item.Answer)</textarea>
                        </td>
                    }

                    @if (item.Points != 0)
                    {
                        <td>
                            Rated: @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    }
                    else if(item.Status == 1)
                    {
                        <td>
                            <a asp-page="/StudentPage/StudentRate" asp-route-questionID="@item.QuestionID"> Rate the answer! </a>
                        </td>
                    }
                    else
                    {
                        <td>
                           Get answer and then rate it!
                        </td>
                    }

                </tr>
            }
         }
    </tbody>
</table>
