@page 
@model StudyBuddy.Web.RazorPages.Pages.StudentPage.StudentChatModel

@{
    ViewData["Title"] = "StudentChat";
}

<h1>Chat</h1>

<a asp-page="/StudentPage/Inbox" asp-route-studentID="@Model.StudentID">View my questions</a>

<form>
    <select asp-for="SubjectTitleFilter" asp-items="Model.SubjectsTitles">
        <option value=""> All </option>
    </select>
    <input type="submit" value="Filter" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Teacher Name
            </th>

            <th>
                Unanswered questions
            </th>

            <th>
                Points
            </th>

            <th>
                Subject
            </th>

            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
         @foreach (var item in Model.TeachersAndSubjects)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnansweredCount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SubjectTitle)
            </td>

            <td>
                <a asp-page="/StudentPage/Ask"
                   asp-route-teacherName="@item.TeacherName" asp-route-subjectTitle="@item.SubjectTitle"
                   asp-route-studentID="@Model.StudentID"> Ask question! </a>
            </td>
        </tr>
            }
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
    </tbody>
</table>